body {
	font-family: "poppins", sans-serif;
	color: #101010;
	background-color: #ffffff;
}

.layout_padding {
	padding-top: 120px;
	padding-bottom: 120px;
}

.layout_padding2 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.layout_padding2-top {
	padding-top: 45px;
}

.layout_padding2-bottom {
	padding-bottom: 45px;
}

.layout_padding-top {
	padding-top: 120px;
}

.layout_padding-bottom {
	padding-bottom: 120px;
}

.heading_container {
	text-align: center;
}

.heading_container h2 {
	text-transform: uppercase;
	font-weight: bold;
}

.heading_container h2 span {
	color: #fbac2e;
}

/*header section*/
.hero_area.sub_pages {
	height: auto;
}

.header_section .container-fluid {
	padding-right: 25px;
	padding-left: 25px;
}

.header_section .nav_container {
	margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
	padding: 10px 30px;
	margin: 0 15px;
	color: #514f4f;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
	.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link
	{
	background-color: #1b1b1b;
	color: #ffffff;
}

a, a:hover, a:focus {
	text-decoration: none;
}

a:hover, a:focus {
	color: initial;
}

.btn, .btn:focus {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}




.custom_nav-container {
	z-index: 99999;
	padding: 15px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.custom_nav-container .navbar-toggler {
	outline: none;
}

.navbar-toggler .navbar-toggler-icon {
	background-image: url(../images/menu.png);
	background-size: 35px;
}

/*end header section*/
.slider_section {
	padding: 0 5%;
	margin-top: 20px;
}

.slider_section .slider_container {
	background-image: url(../images/slider-bg.jpg);
	background-size: cover; color : #ffffff;
	padding: 25px 0;
	color: #ffffff;
}

.slider_section .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider_section .img-box img {
	width: 100%;
}

.slider_section .detail-box {
	width: 75%;
	padding-left: 45px;
}

.slider_section .detail-box h1 {
	font-weight: bold;
	font-size: 4rem;
	text-transform: uppercase;
}

.slider_section .detail-box a {
	display: inline-block;
	padding: 10px 45px;
	background-color: #ffffff;
	color: #000000;
	border: 1.5px solid #ffffff;
	border-radius: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}

.slider_section .detail-box a:hover {
	background-color: transparent;
	color: #ffffff;
}

.slider_section .carousel-indicators {
	margin: 0;
	width: auto;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	bottom: initial;
	top: 0;
	left: initial;
	right: -25px;
}

.slider_section .carousel-indicators li {
	text-indent: 0;
	background-color: transparent;
	opacity: 1;
	border: none;
	font-size: 7rem;
	font-weight: bold;
	width: auto;
	height: auto;
	display: none;
	color: #1b1b1b;
}

.slider_section .carousel-indicators li.active {
	display: block;
}

.slider_section .carousel_btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	-webkit-box-align: center; -ms-flex-align : center; align-items :
	center;
	position: absolute;
	bottom: -25px;
	right: 10%;
	padding: 7px 10px;
	border-radius: 5px 5px 0 0;
	-ms-flex-align: center;
	align-items: center;
}

.slider_section .carousel_btn-box img {
	margin: 0 10px;
}

.slider_section .carousel_btn-box .carousel-control-prev,
	.slider_section .carousel_btn-box .carousel-control-next {
	position: unset;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	opacity: 1;
	background-position: center;
}

.slider_section .carousel_btn-box .carousel-control-prev {
	background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-box .carousel-control-next {
	background-image: url(../images/next.png);
}

.main_section {
	margin-top: 75px;
}

.main_section .main_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2f2f2f;
	margin: 45px 45px 0;
}

.main_section .main_container .img-box {
	margin: 10px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main_section .main_container .img-box img {
	width: 100%;
	height: 100%;
}


.main_section .main_container .img-box .btn-box {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main_section .main_container .img-box .btn-box a {
	display: none;
	width: 50px;
	height: 50px;
	background-color: #373636;
	border-radius: 100%;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 -3px;
}


.main_section .main_container .img-box .btn-box .btn-2 {
	background-image: url(../images/search.png);
}

.main_section .main_container .img-box::before {
	content: "";
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 204, 41, 0.85);
	z-index: 0;
}


.main_section .main_container .img-box:hover {
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.main_section .main_container .img-box:hover a {
	display: block;
}

.main_section .main_container .img-box:hover::before {
	display: block;
}

.main_section .main_container .box-1, .main_section .main_container .box-2
	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main_section .main_container .box-1 {
	padding-right: 10%;
}

.main_section .main_container .box-2 {
	padding-left: 10%;
}

.service_section {
	margin-top: 75px;
}

.service_section .main_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2f2f2f;
	margin: 45px 45px 0;
}

.service_section .service_container .img-box {
   margin: 10px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.service_section .service_container .img-box img {
   width: 100%;
   height: 100%;
}


.service_section .service_container .img-box .btn-box {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.service_section .service_container .img-box .btn-box a {
   display: none;
   width: 50px;
   height: 50px;
   background-color: #373636;
   border-radius: 100%;
   background-size: 16px;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 -3px;
}


.service_section .service_container .img-box .btn-box .btn-2 {
   background-image: url(../images/search.png);
}

.service_section .service_container .img-box::before {
   content: "";
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(255, 204, 41, 0.85);
   z-index: 0;
}


.service_section .service_container .img-box:hover {
   -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.service_section .service_container .img-box:hover a {
   display: block;
}

.service_section .service_container .img-box:hover::before {
   display: block;
}

.service_section .service_container .box-1, .service_section .service_container .box-2
   {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.service_section .service_container .box-1 {
   padding-right: 10%;
}

.service_section .service_container .box-2 {
   padding-left: 10%;
}
.event_section {
	margin-top: 75px;
}

.event_section .main_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2f2f2f;
	margin: 45px 45px 0;
}

.event_section .event_container .img-box {
   margin: 10px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.event_section .event_container .img-box img {
   width: 100%;
   height: 100%;
}


.event_section .event_container .img-box .btn-box {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.event_section .event_container .img-box .btn-box a {
   display: none;
   width: 50px;
   height: 50px;
   background-color: #373636;
   border-radius: 100%;
   background-size: 16px;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 -3px;
}


.event_section .event_container .img-box .btn-box .btn-2 {
   background-image: url(../images/search.png);
}

.event_section .event_container .img-box::before {
   content: "";
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(255, 204, 41, 0.85);
   z-index: 0;
}


.event_section .event_container .img-box:hover {
   -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.event_section .event_container .img-box:hover a {
   display: block;
}

.event_section .event_container .img-box:hover::before {
   display: block;
}

.event_section .event_container .box-1, .event_section .event_container .box-2
   {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.event_section .event_container .box-1 {
   padding-right: 10%;
}

.event_section .event_container .box-2 {
   padding-left: 10%;
}


/* info section */
.info_section {
	position: relative;
	background-color: #2d2d2d;
	color: #ffffff;
	margin: 0 45px 45px;
}

.info_section .social_container {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 30px;
}

.info_section .social_container .social_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.info_section .social_container .social_box a {
	margin: 0 10px;
}

.info_section .row>div {
	margin-top: 25px;
}

.info_section a {
	text-transform: none;
}

.info_section h6 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 25px;
}

.info_section p {
	color: #cbc9c9;
}

.info_section .info_link-box a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 15px 0;
}

.info_section .info_link-box a:hover {
	color: #ffffff;
}

.info_section .info_link-box a img {
	width: 50px;
	margin-right: 15px;
}

.info_section .info_link-box a span {
	color: #cbc9c9;
}

.info_section .info_link-box a:hover span {
	color: #ffffff;
}

/* end info section */

/* footer section*/
.footer_section {
	margin-top: 45px;
	font-weight: 500;
}

.footer_section p {
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	border-top: 1.5px solid #fbac2e;
	width: 80%;
}

.footer_section a {
	color: #cbc9c9;
}
/* end footer section*/

