.slider_section {
	padding: 0 5%;
	margin-top: 20px;
}

.slider_section .slider_container {
	background-image: url(../images/slider-bg.jpg);
	background-size: cover; color : #ffffff;
	padding: 25px 0;
	color: #ffffff;
}

.slider_section .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider_section .img-box img {
	width: 100%;
}

.slider_section .detail-box {
	width: 75%;
	padding-left: 45px;
}

.slider_section .detail-box h1 {
	font-weight: bold;
	font-size: 4rem;
	text-transform: uppercase;
}

.slider_section .detail-box a {
	display: inline-block;
	padding: 10px 45px;
	background-color: #ffffff;
	color: #000000;
	border: 1.5px solid #ffffff;
	border-radius: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}

.slider_section .detail-box a:hover {
	background-color: transparent;
	color: #ffffff;
}

.slider_section .carousel-indicators {
	margin: 0;
	width: auto;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	bottom: initial;
	top: 0;
	left: initial;
	right: -25px;
}

.slider_section .carousel-indicators li {
	text-indent: 0;
	background-color: transparent;
	opacity: 1;
	border: none;
	font-size: 7rem;
	font-weight: bold;
	width: auto;
	height: auto;
	display: none;
	color: #1b1b1b;
}

.slider_section .carousel-indicators li.active {
	display: block;
}

.slider_section .carousel_btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	-webkit-box-align: center; -ms-flex-align : center; align-items :
	center;
	position: absolute;
	bottom: -25px;
	right: 10%;
	padding: 7px 10px;
	border-radius: 5px 5px 0 0;
	-ms-flex-align: center;
	align-items: center;
}

.slider_section .carousel_btn-box img {
	margin: 0 10px;
}

.slider_section .carousel_btn-box .carousel-control-prev,
	.slider_section .carousel_btn-box .carousel-control-next {
	position: unset;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	opacity: 1;
	background-position: center;
}

.slider_section .carousel_btn-box .carousel-control-prev {
	background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-box .carousel-control-next {
	background-image: url(../images/next.png);
}

.new_section {
	margin-top: 75px;
}

.new_section .main_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2f2f2f;
	margin: 45px 45px 0;
}

.new_section .main_container .img-box {
	margin: 10px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.new_section .main_container .img-box img {
	width: 100%;
	height: 100%;
}


.new_section .main_container .img-box .btn-box {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.new_section .main_container .img-box .btn-box a {
	display: none;
	width: 50px;
	height: 50px;
	background-color: #373636;
	border-radius: 100%;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 -3px;
}


.new_section .main_container .img-box .btn-box .btn-2 {
	background-image: url(../images/search.png);
}

.new_section .main_container .img-box::before {
	content: "";
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 204, 41, 0.85);
	z-index: 0;
}


.new_section .main_container .img-box:hover {
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.new_section .main_container .img-box:hover a {
	display: block;
}

.new_section .main_container .img-box:hover::before {
	display: block;
}

.new_section .main_container .box-1, .new_section .main_container .box-2
	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.new_section .main_container .box-1 {
	padding-right: 10%;
}

.new_section .main_container .box-2 {
	padding-left: 10%;
}

.pop_section {
	margin-top: 75px;
}

.pop_section .main_container {
	background-color: #2f2f2f;
	margin: 45px 45px 0;
	
}

.pop_section .main_container .img-box {
   margin: 10px;
   position: relative;
   display: inline-block;
}

.pop_section .main_container .img-box img {
   width: 100%;
   height: 100%;
}


.pop_section .main_container .img-box .btn-box {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.pop_section .main_container .img-box .btn-box a {
   display: none;
   width: 50px;
   height: 50px;
   background-color: #373636;
   border-radius: 100%;
   background-size: 16px;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 -3px;
}


.pop_section .main_container .img-box .btn-box .btn-2 {
   background-image: url(../images/search.png);
}

.pop_section .main_container .img-box::before {
   content: "";
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(255, 204, 41, 0.85);
   z-index: 0;
}


.pop_section .main_container .img-box:hover {
   -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.pop_section .main_container .img-box:hover a {
   display: block;
}

.pop_section .main_container .img-box:hover::before {
   display: block;
}

.pop_section .main_container .box-1, .pop_section .main_container .box-2
   {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.pop_section .main_container .box-1 {
   padding-right: 10%;
}

.pop_section .main_container .box-2 {
   padding-left: 10%;
}


.event_section {
	margin-top: 75px;
}

.event_section .main_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #2f2f2f;
	margin: 45px 45px 0;
}

.event_section .main_container .img-box {
   margin: 10px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.event_section .main_container .img-box img {
   width: 100%;
   height: 100%;
}


.event_section .main_container .img-box .btn-box {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.event_section .main_container .img-box .btn-box a {
   display: none;
   width: 50px;
   height: 50px;
   background-color: #373636;
   border-radius: 100%;
   background-size: 16px;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 -3px;
}


.event_section .main_container .img-box .btn-box .btn-2 {
   background-image: url(../images/search.png);
}

.event_section .main_container .img-box::before {
   content: "";
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(255, 204, 41, 0.85);
   z-index: 0;
}


.event_section .main_container .img-box:hover {
   -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

.event_section .main_container .img-box:hover a {
   display: block;
}

.event_section .main_container .img-box:hover::before {
   display: block;
}

.event_section .main_container .box-1, .event_section .main_container .box-2
   {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.event_section .main_container .box-1 {
   padding-right: 10%;
}

.event_section .main_container .box-2 {
   padding-left: 10%;
}



